version: "3.9"

services:
  api:
    build: .
    ports:
      - "8890:8890"
    volumes:
      - ./storage:/app/storage
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      CRON_TIME: "0230"
      DELETE_FILE_AFTER_DAYS: 1

  redis:
    image: redis:7-alpine

    volumes:
      - redis_data:/data
    command: redis-server --save 60 1 --appendonly yes

volumes:
  redis_data:
